<p></p>
<div class="container">
  <form>
    <div class="form-group">
      <h5 style="font-family:Georgia, 'Times New Roman', Times, serif;">{{estudiante.nombre}} {{estudiante.apPaterno}} {{estudiante.apMaterno}} </h5>
      <!--<label for="">Nombre: {{estudiante.nombre}} </label>-->
      <!--<input type="text" [(ngModel)]="estudiante.nombre" name="nombre" class="form-control">-->
      <!--<div class="form-group">
        <label for="datetimepicker">Date</label>
        <angular2-date-picker class="form-control" id="datetimepicker" [(ngModel)]="date" [settings]="settings" style="padding: 0.2 rem 0.1 rem"></angular2-date-picker>
      </div>-->
      <button class="btn btn-outline-primary" (click)="registrarAsistencia()">
        Tomar Asistencia
      </button>
    </div>
  </form>
</div>
