<p></p>
<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <h5>Selecciona la materia para su respectivo horario</h5>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>ID</th>
            <th>Materia</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let materia of materias">
            <td>{{materia.idMateria}} </td>
            <td>{{materia.nombre}} </td>
            <td>
              <button class="btn btn-warning" [routerLink]="['/crearcurso']">Entrar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <p></p>
</div>