<div>
  <h3>Bienvenido! {{tutor.nombre}}</h3>

  <p>Has iniciado sesión como Tutor !!</p>

  <h5>Tus datos para iniciar sesión es:</h5>

  <p>Código Sis: {{tutor.codSis}} </p>

  <p>Contraseña: {{tutor.contrasenia}}</p>


  <p></p>
  <button class="btn btn-outline-primary" [routerLink]="['/loginauxiliar']"> Iniciar Sesión</button>
  <button class="btn btn-outline-secondary" [routerLink]="['/registroauxiliar']">Cancelar</button>
</div>