<p></p>
<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <h5 style="font-family:Georgia, 'Times New Roman', Times, serif;"><b>Oferta de Materias</b></h5>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>N°</th>
            <th>Materia</th>
            <Th>Nombre</Th>
            <Th>Apellido Paterno</Th>
            <Th>Apellido Materno</Th>
            <Th>Horario</Th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let curso of cursos; let i= index">
            <td>{{i+1}} </td>
            <td>{{curso.grupo.materia.nombre}} </td>
            <td>{{curso.grupo.docente.nombre}}</td>
            <td>{{curso.grupo.docente.apPaterno}}</td>
            <td>{{curso.grupo.docente.apMaterno}}</td>
            <td>{{curso.horario.inicio}} - {{curso.horario.fin}}</td>
            <td>
              <!--<button class="btn btn-success" [routerLink]="['/horariodocentes']">Inscribirse</button>-->
              <button class="btn btn-success" (click)="inscribir(curso.idCurso)">Inscribirse</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <p></p>
</div>
