<p></p>
<div class="col-md-5 mx-auto">
  <div class="card">
      <div class="card-header text-center">
        <h5>Crear Grupo</h5>
      </div>
      <p></p>
      <form [formGroup]="formulario" (ngSubmit)="crearGrupo()">
        <p></p>
        <div class="form-group col-sm-8">
          <label for="doc"><b>Docentes</b></label>
          <p></p>
          <select dir="doc" name="doc" formControlName="docente" class="form-control">
            <option *ngFor="let docente of docentes" [ngValue]="docente"> 
              {{docente.nombre}} {{docente.apPaterno}} {{docente.apMaterno}}
            </option>
          </select>
        </div>
        <div class="form-group col-sm-8">
          <label for="gest"><b>Gestión</b></label>
          <p></p>
          <select id="gest" name="gest" formControlName="gestion" class="form-control">
            <option *ngFor='let gestion of gestiones' [ngValue]="gestion">
              {{gestion.nombre}}
            </option>
          </select>
        </div>
        <div class="form-group col-sm-8">
          <label for="mat"><b>Materia</b></label>
          <p></p>
          <select id="mat" name="mat" formControlName="materia" class="form-control">
            <option *ngFor='let materia of materias' [ngValue]="materia">
              {{materia.nombre}}
            </option>
          </select>
        <!--<pre>{{formulario?.value | json}}</pre> -->
        </div>
        <div class="card-body">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
  </div>
</div>