
<div class="col-md-11 mx-auto">
  <div class="card">
    <div class="card-body">
      <h1 class="text-center" style="font-family:Georgia, 'Times New Roman', Times, serif;"><b>Registrarse Como Docente</b></h1>
      <p></p>
      <form [formGroup]="formularioDocente" (ngSubmit)="crearDocente()">
        <div class="form-row form-group">
          <div class="col-md-4 mb-3">
            <label><b>Nombre</b></label>
            <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" placeholder="Nombre" required>
            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
              <div *ngIf="f.nombre.errors.required">Se requiere nombre</div>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <label><b>Apellido Paterno</b></label>
            <input type="text" formControlName="apPaterno" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.apPaterno.errors }" placeholder="Apellido Paterno" required>
            <div *ngIf="submitted && f.apPaterno.errors" class="invalid-feedback">
              <div *ngIf="f.apPaterno.errors.required">Se requiere Apellido Paterno</div>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <label><b>Apellido Materno</b></label>
            <input type="text" formControlName="apMaterno" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.apMaterno.errors }" placeholder="Apellido Materno" required>
            <div *ngIf="submitted && f.apMaterno.errors" class="invalid-feedback">
              <div *ngIf="f.apMaterno.errors.required">Se requiere Apellido Materno</div>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <label for="cedula"><b>Cédula de Identidad</b></label>
            <input type="text" formControlName="cedula" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cedula.errors }" placeholder="Cédula de Identidad" required>
            <div *ngIf="submitted && f.cedula.errors" class="invalid-feedback">
              <div *ngIf="f.cedula.errors.required">Se requiere Cédula</div>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <label for="celular"><b>Celular</b></label>
            <input type="text" formControlName="celular" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.celular.errors }" placeholder="Celular" required>
            <div *ngIf="submitted && f.celular.errors" class="invalid-feedback">
              <div *ngIf="f.celular.errors.required">Se requiere Celular</div>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <label><b>Codigo Sis</b></label>
            <input type="text" formControlName="codSis" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.codSis.errors }" placeholder="Código Sis" required>
            <div *ngIf="submitted && f.codSis.errors" class="invalid-feedback">
              <div *ngIf="f.codSis.errors.required">Se requiere Código Sis</div>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <label><b>Contraseña</b></label>
            <input type="text" formControlName="contrasenia" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contrasenia.errors }" placeholder="Contraseña" required>
            <div *ngIf="submitted && f.contrasenia.errors" class="invalid-feedback">
              <div *ngIf="f.contrasenia.errors.required">Se requiere Contraseña</div>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <label><b>Correo Electrónico</b></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend2">@</span>
                </div>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="diego12@gmail.com" aria-describedby="inputGroupPrepend2" required>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Se requiere un correo</div>
                </div>
              </div>
          </div>
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Guardar Datos</button>
        </div>
      </form>
     </div>
  </div> 
</div>