<p></p>
<div class="row">
  <div class="col-sm-6">
    <div class="container">
      <button type="button" class="btn btn-outline-primary" style="width: 50%;" [routerLink]="['/inscripcionestudiante']">Inscripción</button>
    </div>
    <p></p>
    <div class="container">
      <button type="submit" class="btn btn-outline-primary" style="width: 50%;" (click)=cerrarSesion()>Cerrar Sesión</button>
    </div>
    <p></p>
    <div class="container">
      <a class="btn btn-outline-primary" data-toggle="collapse" href="#multiCollapseExample1" 
        role="button" aria-expanded="false" aria-controls="multiCollapseExample1" style="width: 50%;" (click)=editEmpleado() >Ver Detalles
      </a>
    </div>
    <div class="">
      <div class="row">
        <div class="col-sm-12" [hidden]="hideUpdate">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
              <div class="col-md-30 mx-auto">
                <h1 class="text-center" style="font-family:Georgia, 'Times New Roman', Times, serif;"><b>Datos</b></h1>
                <form>
                <fieldset disabled >
                <div class="col-sm-10" >
                  <label>
                    <b>Nombre : </b> <p>{{estudiante.nombre}} {{estudiante.apPaterno}} {{estudiante.apMaterno}}</p>
                  </label>
                </div>
                <div class="col-sm-12">
                  <label for="grupo"><b>Grupo :</b></label>
                  <input type="contrasenia" class="form-control" id="grupo" placeholder="Grupo 01">
                </div>
                <div class="col-sm-12" *ngFor="let ins of Inscripciones">
                  <label>
                    <b>Materia :</b> <p>{{ins.curso.grupo.materia.nombre}} </p>
                  </label>
                </div>
                <div class="col-sm-12" *ngFor="let ins of Inscripciones">
                  <label>
                    <b>Día :</b> <p>{{ins.curso.dia}} </p>
                  </label>
                  
                </div>
                <div class="col-sm-12">
                  <label for="horario"><b>Horario :</b></label>
                  <input type="text" class="form-control" id="horario" placeholder="14:15 - 15:45">
                </div>
                <div class="col-sm-12">
                  <label for="auxiliar"><b>Auxiliar :</b></label>
                  <input type="contrasenia" class="form-control" id="auxiliar" placeholder="Diego xxxx - xxx">
                </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

  </div>
  <div class="col-sm-6">
    <div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="http://www.umss.edu.bo/wp-content/uploads/2018/03/2Bienvenida.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <!--<h5>First slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
        </div>
      </div>
      <div class="carousel-item">
        <img src="http://www.lostiempos.com/sites/default/files/styles/noticia_detalle/public/media_imagen/2016/3/11/dsc_1281_copia_0.jpg?itok=lGwTdP6v" class="d-block w-100" alt="...">
        <!--<div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>-->
      </div>
      <div class="carousel-item">
        <img src="https://pbs.twimg.com/media/DWkBgcKWAAARnwQ.jpg" class="d-block w-100" alt="...">
        <!--<div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>-->
      </div>
      <div  class="carousel-item center" style="width: 80%; height: 120%;">
          <img src="https://pbs.twimg.com/media/DuP4VN1VAAAAB9c.jpg" class="d-block w-100">
          <!--<div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>-->
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguente</span>
    </a>
  </div>
</div>
  </div>
</div>