<div>
    <h3>Bienvenido  {{estudiante.nombre}} !</h3>

  <p>Has iniciado sesión como estudiante !!</p>

  <h5>Tus datos para iniciar sesión son:</h5>

  <p>Código Sis: {{estudiante.codSis}}</p>

  <p>Contraseña: {{estudiante.contrasenia}}</p>

  <p></p>
  <button class="btn btn-outline-primary" [routerLink]="['/loginestudiante']"> Iniciar Sesión</button>
  <button class="btn btn-outline-secondary" [routerLink]="['/registroestudiante']">Cancelar</button>
</div>