<p></p>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="col-md-10 mx-auto">
        <div class="card">
          <div class="card-header text-center">
            <h5>Crear Gestión</h5>
          </div>
          <p></p>
          <form [formGroup]="formulario">
            <div class="form-group col-sm-8">    
              <label><b>Gestion:</b></label>
                <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" placeholder="I - 2019" required>
                  <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                    <div *ngIf="f.nombre.errors.required">Se requiere un Nombre</div>
                  </div>
            </div>
            <div class="card-body">
              <a (click)="registrarGestion()">
                  <button type="submit" class="btn btn-primary">Guardar</button>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>

</div>