<p></p>
<div class="col-md-6 mx-auto"  >
  <div class="card">
      <div class="card-header text-center">
        <h5>Crear Curso</h5>
      </div>
      <p></p>
      <form [formGroup]="formulario" (ngSubmit)="crearCurso()" >
        <p></p>

        <div class="form-group col-sm-8">
            <label for="doc"><b>Grupo</b></label>
            <p></p>
            <select dir="doc" name="doc" formControlName="grupo" class="form-control"> 
              <option *ngFor="let grupo of grupos" [ngValue]="grupo"> 
                {{grupo.docente.nombre}} {{grupo.docente.apPaterno}} {{grupo.docente.apMaterno}} - {{grupo.materia.nombre}}
                
              </option>
            </select>
          </div>
        <div class="form-group col-sm-8">
          <label><b>Laboratorio</b></label>
          <p></p>
          <select formControlName="laboratorio" class="form-control">
            <option *ngFor="let laboratorio of laboratorios" [ngValue]="laboratorio">
              {{laboratorio.nombre}}
            </option>
          </select>
        </div>
        <div  class="form-group col-sm-8">
          <label><b>Tutor</b></label>
          <p></p>
          <select formControlName="tutor" class="form-control">
            <option *ngFor="let tutor of tutores" [ngValue]="tutor">
              {{tutor.nombre}} {{tutor.apPaterno}} {{tutor.apMaterno}}
            </option>
          </select>
        </div>
        <div class="form-group col-sm-8">
          <label><b>Día</b></label>
          <p></p>
          <select formControlName="dia" class="form-control">
            <option >Lunes</option>
            <option >Martes</option>
            <option >Miércoles</option>
            <option >Jueves</option>
            <option >Viernes</option>
          </select>
        </div>
        <div class="form-group col-sm-8">
          <label><b>Horario</b></label>
          <p></p>
          <select formControlName="horario" class="form-control">
            <option *ngFor='let hora of horarios' [ngValue]="hora">
              {{hora.inicio}} - {{hora.fin}}
            </option>
          </select>
        </div>
       <!-- <pre>{{formulario?.value | json}}</pre>-->
        <div class="card-body">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
  </div>
</div>