<p></p>
<div >
  <div class="card">
    <div class="card-header text-center">
      <h4>Lista de Cursos Creados</h4>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
            <tr class="text-center" >
            <th>GRUPO</th>
            <th>Materia</th>
            <th>Docente</th>  
            <th>Día</th>
            <th>Laboratorio</th>
            <Th>Horario</Th>
            <Th>Gestión</Th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let curso of cursos" >
            <td>{{curso.grupo.idGrupo}}</td>
            <td>{{curso.grupo.materia.nombre}}</td>
            <td>{{curso.grupo.docente.nombre}} {{curso.grupo.docente.apPaternos}} {{curso.grupo.docente.apMaterno}}</td>
            <td>{{curso.dia}}</td>
            <td>{{curso.laboratorio.nombre}}</td>
            <td>{{curso.horario.inicio}}-{{curso.horario.fin}}</td>
            <td>{{curso.grupo.gestion.nombre}}</td>
            <td>
              <button class="btn btn-warning" (click)="editar()">Editar</button>
              <button class="btn btn-danger" (click)="eliminar()" style="margin-left: 10px">ELiminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
