<p></p>
<div class="text-center">
  <p>Selecciona el horario que mas te convenga para poder pasar clases de ayuda en el laboratorio 1</p>
</div>
<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <h4>HORARIOS</h4>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>Grupo</th>
            <th>Día</th>
            <Th>Horarios</Th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td>01</td>
            <td>Lunes</td>
            <td>12:45 - 14:15</td>
            <td>
              <!--<button class="btn btn-warning">Editar</button>
              <button class="btn btn-danger" style="margin-left: 10px">Delete</button>-->
              <a (click)="inscribirest()">
                <button class="btn btn-success">Inscribirse</button>
              </a>
            </td>
          </tr>
          <tr class="text-center">
            <td>02</td>
            <td>Lunes</td>
            <td>14:15 - 15:45</td>
            <td>
              <!--<button class="btn btn-warning">Editar</button>
              <button class="btn btn-danger" style="margin-left: 10px">Delete</button>-->
              <a (click)="inscribirest()">
                <button class="btn btn-success">Inscribirse</button>
              </a>
            </td>
          </tr>
          <tr class="text-center">
            <td>03</td>
            <td>Lunes</td>
            <td>15:45 - 17:15</td>
            <td>
              <!--<button class="btn btn-warning">Editar</button>
              <button class="btn btn-danger" style="margin-left: 10px">Delete</button>-->
              <a (click)="inscribirest()">
                <button class="btn btn-success">Inscribirse</button>
              </a>
            </td>
          </tr>
          <tr class="text-center">
            <td>04</td>
            <td>Miercoles</td>
            <td>12:45 - 14:15</td>
            <td>
              <!--<button class="btn btn-warning">Editar</button>
              <button class="btn btn-danger" style="margin-left: 10px">Delete</button>-->
              <a (click)="inscribirest()">
                <button class="btn btn-success">Inscribirse</button>
              </a>
            </td>
          </tr>
          <tr class="text-center">
            <td>05</td>
            <td>Miercoles</td>
            <td>14:15 - 15:45</td>
            <td>
              <!--<button class="btn btn-warning">Editar</button>
              <button class="btn btn-danger" style="margin-left: 10px">Delete</button>-->
              <a (click)="inscribirest()">
                <button class="btn btn-success">Inscribirse</button>
              </a>
            </td>
          </tr>
          <tr class="text-center">
            <td>06</td>
            <td>Miercoles</td>
            <td>15:45 - 17:15</td>
            <td>
              <!--<button class="btn btn-warning">Editar</button>
              <button class="btn btn-danger" style="margin-left: 10px">Delete</button>-->
              <a (click)="inscribirest()">
                <button class="btn btn-success">Inscribirse</button>
              </a>
            </td>
          </tr>
          <tr class="text-center">
            <td>07</td>
            <td>Jueves</td>
            <td>12:45 - 14:15</td>
            <td>
              <!--<button class="btn btn-warning">Editar</button>
              <button class="btn btn-danger" style="margin-left: 10px">Delete</button>-->
              <a (click)="inscribirest()">
                <button class="btn btn-success">Inscribirse</button>
              </a>
            </td>
          </tr>
          <tr class="text-center">
            <td>08</td>
            <td>Jueves</td>
            <td>14:15 - 15:45</td>
            <td>
              <!--<button class="btn btn-warning">Editar</button>
              <button class="btn btn-danger" style="margin-left: 10px">Delete</button>-->
              <a (click)="inscribirest()">
                <button class="btn btn-success">Inscribirse</button>
              </a>
            </td>
          </tr>
          <tr class="text-center">
            <td>09</td>
            <td>Jueves</td>
            <td>15:45 - 17:15</td>
            <td>
              <!--<button class="btn btn-warning">Editar</button>
              <button class="btn btn-danger" style="margin-left: 10px">Delete</button>-->
              <a (click)="inscribirest()">
                <button class="btn btn-success">Inscribirse</button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
