
<div class="col-md-6 mx-auto">
  <div class="card">
    <div class="card-body">
      <h1 class="text-center" style="font-family:Georgia, 'Times New Roman', Times, serif;"><b>Iniciar Sesión</b></h1>
      <form [formGroup]="formulariologin" (ngSubmit)="onSubmit()">
        <div class="form-group col-sm-8">
          <label for="codSis"><b>Código Sis</b></label>
          <input type="text" formControlName="codSis" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.codSis.errors }" placeholder="Codigo sis" required>
          <div *ngIf="submitted && f.codSis.errors" class="invalid-feedback">
            <div *ngIf="f.codSis.errors.required">Se requiere Código Sis</div>
          </div>
        </div>
         
        <div class="form-group col-sm-8">
          <label for="contrasenia"><b>Contraseña</b></label>
          <input type="password" formControlName="contrasenia" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contrasenia.errors }" placeholder="Contraseña" required>
          <div *ngIf="submitted && f.contrasenia.errors" class="invalid-feedback">
            <div *ngIf="f.contrasenia.errors.required">Se requiere contraseña</div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="dropdownCheck2">
            <label class="form-check-label" for="dropdownCheck2">
              Recordarme
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
      </form>
    </div>
  </div>
</div>
