<p></p>
<div class="text-center">
  <p>Poner el nombre del Laboratorio</p>
</div>
<div class="col-md-6 mx-auto">
  <div class="card">
    <div class="card-header text-center">
      <h5>Crear Laboratorio</h5>
    </div>
    <p></p>
    <form [formGroup]="formulario">
      <div class="form-group col-sm-8">    
        <label><b>Nombre del Laboratorio:</b></label>
        <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" placeholder="laboratorio - 01" required>
        <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
          <div *ngIf="f.nombre.errors.required">Se requiere un Nombre</div>
        </div>
      </div>
      <div class="card-body">
        <a (click)="registrarLaboratorio()">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </a>
      </div>
    </form>
  </div>
</div>