<div class="container">
  <p></p>
  <div class="text-center">
    <p>Selecciona el docente con el cual estas cursando la materia</p>
  </div>
  <p></p>
  <div class="container">
    <div class="card">
      <div class="card-header text-center">
        <h5>Docentes FCyT</h5>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="text-center">
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido Paterno</th>
              <th>Apellido Materno</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" *ngFor="let curso of cursos">
              <td>{{curso.docente.idDocente}}</td>
              <td>{{docente.nombre}} </td>
              <td>{{docente.apPaterno}} </td>
              <td>{{docente.apMaterno}} </td>
              <td>
                <button class="btn btn-warning" [routerLink]="['/horariodocentes']">Entrar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p></p>
  </div>
  <p></p> 
</div>