<p></p>
<div class="card">
  <div class="card-header text-center">
    <h4>Actividades</h4>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="hidden">Sesión</th>
          <th>Horario</th>
          <th>Fecha</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>14:15 - 15:45</td>
          <td>20/03/2019</td>
          <td>
            <button class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
              Ver Actividad
            </button>
            <button class="btn btn-outline-success" style="margin-left: 10px" [routerLink]="['/crearnuevaactividad']">
              Crear Actividad
            </button>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>14:15 - 15:45</td>
          <td>27/03/2019</td>
          <td>
            <button class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
              Ver Actividad
            </button>
            <button class="btn btn-outline-success" style="margin-left: 10px">
              Crear Actividad
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Fecha: 20/03/2019</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            El estudiante rindo muy bien en clases por el momento.....
          </p>
          <p>
            <b>Calificación sobre el estudiante:</b>
            Bueno
          </p>
          <p>
            <b>Calificación sobre los ejercicios:</b>
            Ejercicios hechos hasta la mitad
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>