<div class="bg-dark text-white py-2">
  <h3 style="color:#ffff; font-family:Georgia, 'Times New Roman', Times, serif;">
    Universidad Mayor de San Simón
  </h3>
</div> 

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F5F5F5; color:blue; ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/inicio']" style="font-family:Georgia, 'Times New Roman', Times, serif;"><b><h4>INICIO</h4></b></a>
      </li>
      <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"style="font-family:Georgia, 'Times New Roman', Times, serif;">
            <b>ESTUDIANTE</b>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/loginestudiante']" style="font-family:Georgia, 'Times New Roman', Times, serif;">Iniciar Sesión</a>
            <a class="dropdown-item" [routerLink]="['/registroestudiante']" style="font-family:Georgia, 'Times New Roman', Times, serif;">Registrarse</a>
          </div>
      </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family:Georgia, 'Times New Roman', Times, serif;">
            <b>TUTOR</b>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/loginauxiliar']" style="font-family:Georgia, 'Times New Roman', Times, serif;">Iniciar Sesión</a>
            <a class="dropdown-item" [routerLink]="['/verificarauxiliar']" style="font-family:Georgia, 'Times New Roman', Times, serif;">Registrarse</a>
          </div>
        </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family:Georgia, 'Times New Roman', Times, serif;">
          <b>DOCENTE</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/logindocente']" style="font-family:Georgia, 'Times New Roman', Times, serif;">Iniciar Sesión</a>
          <a class="dropdown-item" [routerLink]="['/verificardocente']" style="font-family:Georgia, 'Times New Roman', Times, serif;">Registrarse</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family:Georgia, 'Times New Roman', Times, serif;">
          <b>ADMINISTRATIVO</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/loginadministrador']" style="font-family:Georgia, 'Times New Roman', Times, serif;">Iniciar Sesión</a>
          <a class="dropdown-item" [routerLink]="['/']" style="font-family:Georgia, 'Times New Roman', Times, serif;">Inscribir</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
