<div>
  <h3>Bienvenido! {{docente.nombre}}</h3>

  <p>Has iniciado sesión como Docente !!</p>

  <h5>Tus datos para iniciar sesión es:</h5>

  <p>Usuario: {{docente.codSis}}</p>

  <p>Contraseña: {{docente.contrasenia}}</p>


  <p></p>
  <button class="btn btn-outline-primary" [routerLink]="['/logindocente']"> Iniciar Sesión</button>
  <button class="btn btn-outline-secondary" [routerLink]="['/registrodocente']">Cancelar</button>
</div>