<p></p>
<h4>Buscar Estudiantes por Cédula:</h4>
<p></p>
<div>
  <p></p>
  <div class="container">
    <input type="text" class="form-control" name="filterPost" placeholder="Ingrese Número de Cédula..." [(ngModel)]="filterPost">
      <p></p>
    <div class="card">
      <div class="card-header text-center">
        <h5 style="font-family:Georgia, 'Times New Roman', Times, serif;"><b>Estudiantes</b></h5>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr class="text-center">
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido Materno</th>
              <th>Apellido Materno</th>
              <th>Cédula de Identidad</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" *ngFor="let estudiante of estudiantes | filter:filterPost">
              <td>{{estudiante.idEstudiante}} </td>
              <td>{{estudiante.nombre}} </td>
              <td>{{estudiante.apPaterno}} </td>
              <td>{{estudiante.apMaterno}} </td>
              <td>{{estudiante.cedula}} </td>
              <td>
                <button class="btn btn-warning" (click)="buscar(estudiante)">Entrar</button>
                <!--<button class="btn btn-danger" style="margin-left: 10px">Delete</button>
                <button class="btn btn-success" [routerLink]="['/inscribirestudiante']">Inscribirse</button>-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p></p>
  </div>
</div>