<p></p>
<div class="row">
  <div class="col-sm-6">
    <div class="container">
        <button type="button" class="btn btn-outline-primary" style="width: 50%;" [routerLink]="['/']">Docente</button>
    </div>
    <p></p>
    <div class="container">
        <button type="submit" class="btn btn-outline-danger" style="width: 50%;" (click)=cerrarSesion()>Cerrar Sesión</button>
    </div>
    <p></p>
    <div class="container">
      <a class="btn btn-outline-primary" data-toggle="collapse" href="#multiCollapseExample1" 
        role="button" aria-expanded="false" aria-controls="multiCollapseExample1" style="width: 50%;" (click)=editEmpleado() >Ver Detalles
      </a>
    </div>
    <div class="row">
      <div class="col-sm-6" [hidden]="hideUpdate">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <div class="card card-body">
            <div class="col-md-15 mx-auto">
              <h1 class="text-center">Datos Personales</h1>
              <form>
                <fieldset disabled>
                  <div class="form-group col-sm-8">
                    <label><b>Nombre : </b> <p>{{docente.nombre}} {{docente.apPaterno}} {{docente.apMaterno}}</p> </label>  
                  </div>
                  <div class="form-group col-sm-8">
                    <label for="grupo"><b>Grupo :</b></label>
                      <input type="contrasenia" class="form-control" id="grupo" placeholder="Grupo 01">
                  </div>
                  <div class="form-group col-sm-8">
                    <label for="materia"><b>Materia :</b></label>
                    <input type="text" class="form-control" id="materia" placeholder="Intro a la progra - lab">
                  </div>
                  <div class="form-group col-sm-8">
                    <label for="dia"><b>Día :</b></label>
                    <input type="contrasenia" class="form-control" id="dia" placeholder="Lunes">
                  </div>
                  <div class="form-group col-sm-8">
                    <label for="horario"><b>Horario :</b></label>
                    <input type="text" class="form-control" id="horario" placeholder="14:15 - 15:45">
                  </div>
                  <div class="form-group col-sm-8">
                  <label for="auxiliar"><b>Auxiliar :</b></label>
                    <input type="contrasenia" class="form-control" id="auxiliar" placeholder="Diego xxxx - xxx">
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="bd-example">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="http://casa.fcyt.umss.edu.bo/images/shares/Logo1.png" class="d-block w-100" alt="...">
            <!--<div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>-->
          </div>
          <div class="carousel-item">
            <img src="http://imagenes.fcyt.umss.edu.bo/titulo_FCYT_UMSS.png" class="d-block w-100" alt="...">
            <!--<div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>-->
          </div>
          <div class="carousel-item">
            <img src="http://www.umss.edu.bo/wp-content/uploads/2018/01/slider_disu1.jpg" class="d-block w-100" alt="...">
            <!--<div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>-->
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
