<p></p>
<div class="text-center">
    <p>Poner un Horario</p>
  </div>
<div class="col-md-6 mx-auto">
  <div class="card">
      <div class="card-header text-center">
        <h5>Crear Horario</h5>
      </div>
      <p></p>
      <form [formGroup]="formulario">
          <div class="form-group col-sm-8">    
            <label><b>Hora Inicio:</b></label>
            <input type="text" formControlName="inicio" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.inicio.errors }" placeholder="12:45" required>
            <div *ngIf="submitted && f.inicio.errors" class="invalid-feedback">
              <div *ngIf="f.inicio.errors.required">Se requiere una Hora</div>
            </div>
          </div>
          <div class="form-group col-sm-8">
            <label><b>Hora Fin:</b></label>
            <input type="text" formControlName="fin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fin.errors }" placeholder="14:15" required>
            <div *ngIf="submitted && f.fin.errors" class="invalid-feedback">
              <div *ngIf="f.fin.errors.required">Se requiere una Hora</div>
            </div>
          </div>
          <div class="card-body">
            <a (click)="registrarHorario()">
              <button type="submit" class="btn btn-primary">Guardar</button>
            </a>
          </div>
      </form>
    
  </div>
</div>