<p></p>
<div class="container">
  <div class="card">
    <div class="card-header">
      <h5>Docente: Ustariz Vargas Hernan</h5>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>Grupo</th>
            <th>Día</th>
            <Th>Horarios</Th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td>01</td>
            <td>Lunes</td>
            <td>12:45 - 14:15</td>
            <td>
              <!--<button class="btn btn-warning">Editar</button>
              <button class="btn btn-danger" style="margin-left: 10px">Delete</button>-->
              <a (click)="inscribirest()">
                <button class="btn btn-success">Inscribirse</button>
              </a>
            </td>
          </tr>
          <tr class="text-center">
            <td>01</td>
            <td>Miercoles</td>
            <td>14:15 - 15:45</td>
            <td>
              <!--<button class="btn btn-warning">Editar</button>
              <button class="btn btn-danger" style="margin-left: 10px">Delete</button>-->
              <a (click)="inscribirest()">
                <button class="btn btn-success">Inscribirse</button>
              </a>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</div>
