<p></p>
<div class="container">
  <h5>
    Seleccionar el Día y la Hora de clases para poder listar los estudiantes
  </h5>
  <p></p>
  <div class="col-sm-5">
    <select class="form-control">
      <option selected value="0"><<<<<<<<< Elige una opción >>>>>>>>></option>
      <option value="1">Lunes -> 12:45-14:15</option> 
      <option value="2">Martes -> 14:15-15:45</option> 
      <option value="3">Miercoles -> 14:15-15:45</option> 
    </select>
    <p></p>
    <button class="btn btn-outline-success" style="margin-left: 10px">Buscar</button>
  </div>
  <p></p>
    <div class="card">
      <div class="card-header text-center">
        <h4>Lista de Estudiantes</h4>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="hidden">Grupo</th>
              <th>Nombre</th>
              <th>Apellido Paterno</th>
              <th>Apellido Materno</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
            <td>Diego</td>
              <td>Dieguin</td>
              <td>xxxx</td>
              <td>
                <button class="btn btn-success" [routerLink]="['/crearactividad']">
                  Crear Actividad
                </button>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Diego2</td>
              <td>Dieguin2</td>
              <td>xxxx2</td>
              <td>
                <button class="btn btn-success">
                  Crear Actividad
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>