<p></p>
<div class="container">
  <form (ngSubmit)="actividad()">
    <div class="form-group col-sm-6">
      <label for="message-text" class="col-form-label"><b><h5>Descripción en General</h5></b></label>
        <textarea id="message-text" formControlName="nombre" class="form-control"placeholder="Escribir....."></textarea>
    </div>
    <div class="form-group col-sm-6">
      <label for="">Calificación sobre el Estudiante</label>
      <p></p>
      <select name="" id="" class="form-control">
        <option value=""><<<<<<<<<< Selecciona una opción >>>>>>>>>></option>
        <option value="">Excelente</option>
        <option value="">Muy Bien</option>
        <option value="">Bueno</option>
        <option value="">Regular</option>
      </select>
    </div>
    <div class="form-group col-sm-6">
      <label for="">Calificación sobre los Ejercios:</label>
      <p></p>
      <select name="" id="" class="form-control">
        <option value=""><<<<<<<<<< Selecciona una opción >>>>>>>>>></option>
        <option value="">Ejercios Terminados</option>
        <option value="">Ejercios hechos hasta la mitad</option>
        <option value="">Ejercios hechos menos de la mitad</option>
      </select>
    </div>
    <div class="container">
      <button class="btn btn-primary" style="width: 15%;">Guardar</button>
    </div>
  </form>
</div>