<div class="card col-sm-12" style="width: 70rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0NiuLaMwP3lZN_0ycvl9E5vkpEUSDV87N27zUjvabiEWdr5BX" class="card-img-top" alt="...">
   <div class="card-body">
  </div>
</div>